name: Upload Metrics Example

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Clang-Tidy
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy
      - name: Build and upload
        run: |
          ctest -S upload_metrics.cmake -DCONFIG_FILE=clang_tidy_config.yaml
      - uses: johnwparent/cdash-metrics-viz@c3948f9bf055e02594aba3b28430294e95359ebd
        with:
          build-directory: build-metrics
          cdash: my.cdash.org
          
    